<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="css/products-styles.css">
    <title>LoQueTePinte</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>    
        <div class=mainbox>
            <section class= "carousel">
             <div class= "carouselimage">
              <ul class="slider">
                 <li id="slide1"><img src="images/campera.jpg" alt="campera" class="product_img"></li>
                 <li id="slide2"><img src="images/campera2.jpg" alt="campera" class="product_img"></li>
                 <li id="slide3"><img src="images/campera3.jpg" alt="campera" class="product_img"></li>
              </ul>
              <nav class= "minicarousel">
                 <ul class="menu">
                     <li><a href="#slide1"><img src="images/campera.jpg" alt="campera" class="product_img_carousel"></a></li>
                     <li><a href="#slide2"><img src="images/campera2.jpg" alt="campera" class="product_img_carousel"></a></li>
                     <li><a href="#slide3"><img src="images/campera3.jpg" alt="campera" class="product_img_carousel"></a></li>
                 </ul>
              </nav>
             </div>
            </section>
        <section class="mainsellbox">
            <div class= "sellboxb">
                <div class= "itemspecs">
                   <p class= "itemspecstext">Prenda de vestir que cubre la parte superior del cuerpo, se cierra por delante y se usa encima de otras prendas más livianas como abrigo; puede ser corta y amplia y ajustarse a la cadera con un elástico o cordón, o larga hasta las caderas.</p>
                </div>
                <div class= "description">
                   <p class= "descriptiontext">la mejor campera del mundo yo les digo ,la mejor campera del mundo yo les digo ,la mejor campera del mundo yo les digo ,la mejor campera del mundo yo les digo ,la mejor campera del mundo yo les digo , </p>
                </div>
            </div> 
            <div class= "sellboxa">
             <p Class= "productname">Producto</p>
        
             <p Class= "price">Precio</p>
            
             <p Class= "paymentmethod">Medio de pago</p>
             <select class="paymentmethoddropdown" name="Medios de pago">
                 <option value="1">Tarjeta de credito</option> 
                 <option value="2">Tarjeta de debito</option>
                 <option value="3">Otras formas de pago</option> 
             </select>
        
             <p Class= "dues">Cuotas</p>       <!-- es un desplegable -->
             <select Class= "duesdropdown" name= cuotas>
                 <option value="1">3 cuotas sin interes</option> 
                 <option value="2">6 cuotas sin interes</option>
                 <option value="3">12 cuotas</option>
             </select>
             
             <div class= "subsellboxa">
                 <div class="quantity">
                     <button type="submit" value="-" class="quantity-button" name="pop">-</button>
                     <input type="tel" name="quantity" id="quantity" class="input-quantity" value="1" pattern="[0-9]{0,4}" inputmode="numeric" autocomplete="off">
                     <button type="submit" value="+" class="quantity-button" name="push">+</button>
                 </div>
                
                 <button class="buy" type="button"><a href="views/carrito.html">Agregar al carrito</a></button> 
             </div>
            </div>
        </section>
        </div>
        </main>  
        <%- include('../partials/footer') %>
</body>

</html>