<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loquetepinte</title>
    <link rel="stylesheet" href="css/footerstyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <p></p>
</body>

<footer>
<img src="images/pincel-cerda-blanca-.jpg" alt="logo" class="logo_img">
<ul class="footMenu">
    <li><a href="views/contactenos.html">Contactenos</a></li>
    <li><a href="views/ayuda.html">Ayuda</a></li>
    <li><a href="views/Otracosa.html">Otracosa</a></li>
    <li><a href="views/Otracosamas.html">otra cosa mas</a></li>
</ul>
<ul class="footMenub">
    <li><a href="views/contactenos.html">Contactenos</a></li>
    <li><a href="views/contactenos.html">Ayuda</a></li>
    <li><a href="views/contactenos.html">Otracosa</a></li>
</ul>
<a href="views/contactenos.html"><i class="fab fa-facebook facebook footlogo"></i></a>
<a href="views/contactenos.html"><i class="fab fa-instagram instagram footlogo"></i></a>
<a href="views/contactenos.html"><i class="fab fa-twitter twitter footlogo"></i></a>


</footer>
</html>