<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lo que te pinte</title>

    <link rel = "preconnect" href = "https://fonts.googleapis.com">
<link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
<link href = "https: //fonts.googleapis.com/css2? family = Roboto & display = swap "rel =" stylesheet ">
</head>
<body>
    
    <main>
       <section>
           <img src = "./images/librería-comercial.jpg">
           <img src = "./images/artística.jpg">
           <img src = "./images/insumos-computación.jpg">
           <img src = "./images/papelera.jpg">

           <ul>
               <li><a href="#">Librería Escolar</a></li>
               <li><a href="#">Librería Comercial</a></li>               
               <li><a href="#">Artística</a></li>
               <li><a href="#">Insumos Computación</a></li>
               <li><a href="#">Papelera</a></li>
           </ul>
       </section> 
    </main>

</body>
</html>