<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title> Inicia sesion </title>  
    </head>
    <body>
        <h1>Iniciar sesion</h1>
        <form>
            <div>
                <!-- //Falta hacer con css que queden uno abajo del otro y no uno al lado del otro// -->
                <label>e-mail</label>
                <input type="text" placeholder="Ingresa tu e-mail">
                <label>Contraseña</label>
                <input type="text" placeholder="Ingresa tu contraseña">
                <button>Iniciar sesion</button>
                <input type="checkbox">Mantenerme conectado
                <a href="#">Olvide mi contraseña</a>
                </div>
            </form>
    </body>
</html>