<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/productostyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>LoQueTePinte</title>
</head>
<body>
        <header class="header-container">
        <div class="top-header">
            <div class="menu-icon">
                <ul>
                    <li>
                        <a href="#"><i class="fas fa-bars" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="logo">
                <a href="/">
                    <img src="images/logo.png" alt="Logo">
                </a>
            </div>
            <div class="search-container">
                <form action="#" role="search" method="get">
                    <input type="search" class="search-input" name="search" spellcheck="false" placeholder="Buscar..."><!--
                    --><button type="submit" class="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <div class="utilities">
                <div class="account-container">
                    <i class="fas fa-user-circle" aria-hidden="true"></i>
                    <span class="util-desc">Mi cuenta</span>
                </div>
                <div class="cart-container">
                    <a href="/cart">
                        <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                        <span class="util-desc">Mi carrito</span>
                    </a>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="/">Inicio</a></li>
                <li><a href="productos">Productos</a></li>
                <li><a href="nosotros">Nosotros</a></li>
                <li><a href="contacto">Contacto</a></li>
                <li><a href="blog">Blog</a></li>
            </ul>
        </nav>
    </header>
<main>    
<div class=mainbox>
    <div class= "carousel">
     <ul class="slider">
        <li id="slide1"><img src="images/campera.jpg" alt="campera" class="product_img"></li>
        <li id="slide2"><img src="images/campera2.jpg" alt="campera" class="product_img"></li>
        <li id="slide3"><img src="images/campera3.jpg" alt="campera" class="product_img"></li>
     </ul>
     <nav>
        <ul class="menu">
            <li><a href="#slide1"><img src="images/campera.jpg" alt="campera" class="product_img_carousel"></a></li>
            <li><a href="#slide2"><img src="images/campera2.jpg" alt="campera" class="product_img_carousel"></a></li>
            <li><a href="#slide3"><img src="images/campera3.jpg" alt="campera" class="product_img_carousel"></a></li>
        </ul>
     </nav>
    </div>
 <section class="sellingbox">
    <p>Producto</p>

    <p>Precio</p>
    
    <p>Medio de pago</p>
    <select name="Medios de pago">
        <option value="1">Tarjeta de credito</option> 
        <option value="2">Tarjeta de debito</option>
        <option value="3">Otras formas de pago</option> 
     </select>

     <p>Cuotas</p>       <!-- es un desplegable -->
    <select name= cuotas>
        <option value="1">3 cuotas sin interes</option> 
        <option value="2">6 cuotas sin interes</option>
        <option value="3">12 cuotas</option>
    </select>
    <td class="product-quantity redraw-title" data-title="Cantidad">
        <div class="quantity">
            <button type="submit" value="-" class="quantity-button" name="pop">-</button>
            <input type="tel" name="quantity" id="quantity" class="input-quantity" value="1" pattern="[0-9]{0,4}" inputmode="numeric" autocomplete="off">
            <button type="submit" value="+" class="quantity-button" name="push">+</button>
        </div>
    </td>
    <button type="button"><a href="views/carrito.html">Agregar al carrito</a></button>
 </section>
</div>
</main>  
    <footer> 
        <img src="images/pincel-cerda-blanca-.jpg" alt="logo" class="logo_img">
        <ul class="footMenu">
            <li><a href="views/contactenos.html">Contactenos</a></li>
            <li><a href="views/ayuda.html">Ayuda</a></li>
            <li><a href="views/Otracosa.html">Otracosa</a></li>
            <li><a href="views/Otracosamas.html">otra cosa mas</a></li>
        </ul>
        <ul class="footMenub">
            <li><a href="views/contactenos.html">Contactenos</a></li>
            <li><a href="views/contactenos.html">Ayuda</a></li>
            <li><a href="views/contactenos.html">Otracosa</a></li>
        </ul>
        <a href="views/contactenos.html"><i class="fab fa-facebook facebook footlogo"></i></a>
        <a href="views/contactenos.html"><i class="fab fa-instagram instagram footlogo"></i></a>
        <a href="views/contactenos.html"><i class="fab fa-twitter twitter footlogo"></i></a>
    </footer>
</body>

</html>