<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/registerstyles.css">
        <link href = "https: //fonts.googleapis.com/css2? family = Roboto & display = swap "rel =" stylesheet ">
        <title> Registra tu usuario </title> 
    </head>
    <body>
            <header class="header-container">
        <div class="top-header">
            <div class="menu-icon">
                <ul>
                    <li>
                        <a href="#"><i class="fas fa-bars" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="logo">
                <a href="/">
                    <img src="images/logo.png" alt="Logo">
                </a>
            </div>
            <div class="search-container">
                <form action="#" role="search" method="get">
                    <input type="search" class="search-input" name="search" spellcheck="false" placeholder="Buscar..."><!--
                    --><button type="submit" class="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <div class="utilities">
                <div class="account-container">
                    <i class="fas fa-user-circle" aria-hidden="true"></i>
                    <span class="util-desc">Mi cuenta</span>
                </div>
                <div class="cart-container">
                    <a href="/cart">
                        <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                        <span class="util-desc">Mi carrito</span>
                    </a>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="/">Inicio</a></li>
                <li><a href="productos">Productos</a></li>
                <li><a href="nosotros">Nosotros</a></li>
                <li><a href="contacto">Contacto</a></li>
                <li><a href="blog">Blog</a></li>
            </ul>
        </nav>
    </header>
        <h1>Crea tu cuenta</h1>
        <form>
            <div id="formulary">
                <section class="camp">
                    <p class="label"><label for="nombre">Nombre:</label></p>
                    <p class="input"><input type="text" placeholder="Ingresa tu nombre" id="nombre" name="nombre"></p>
                </section>
                <section class="camp">
                    <p class="label"><label for="apellido">Apellido:</label></p>
                    <p class="input"><input type="text" placeholder="Ingresa tu apellido" id="apellido" name="apellido"></p>
                </section>
                <section class="camp">
                    <p class="label"><label for="e-mail">e-mail:</label></p>
                    <p class="input"><input type="email" placeholder="Ingresa tu e-mail" id="e-mail" name="e-mail"></p>
                </section>
                <section class="camp">
                    <p class="label"><label for="contraseña">Contraseña:</label></p>
                    <p class="input"><input type="password" placeholder="Ingresa tu contraseña" id="contraseña" name="contraseña"></p>
                </section>
                <section class="camp">
                    <p class="label"><label for="telefono">Telefono:</label></p>
                    <p class="input"><input type="text" placeholder="Ingresa tu numero de telefono" id="telefono" name="telefono"></p>
                </section>
                <section class="camp">
                    <p class="label"><label for="contraseña2">Repetir contraseña:</label></p>
                    <p class="input"><input type="password" placeholder="Por favor repeti tu contraseña" id="contraseña2" name="contraseña2"></p>
                </section>
                <section class="camp">
                    <p class="label"><label for="direccion">Direccion:</label></p>
                    <p class="input"><input type="text" placeholder="Ingresa tu direccion" id="direccion" name="direccion"></p>
                </section>
                <section class="camp" id="regbutton">
                    <p id="button"><button type="submit">Registrarme</button></p>
                </section>
                </div>
            </form>
                <footer> 
        <img src="images/pincel-cerda-blanca-.jpg" alt="logo" class="logo_img">
        <ul class="footMenu">
            <li><a href="views/contactenos.html">Contactenos</a></li>
            <li><a href="views/ayuda.html">Ayuda</a></li>
            <li><a href="views/Otracosa.html">Otracosa</a></li>
            <li><a href="views/Otracosamas.html">otra cosa mas</a></li>
        </ul>
        <ul class="footMenub">
            <li><a href="views/contactenos.html">Contactenos</a></li>
            <li><a href="views/contactenos.html">Ayuda</a></li>
            <li><a href="views/contactenos.html">Otracosa</a></li>
        </ul>
        <a href="views/contactenos.html"><i class="fab fa-facebook facebook footlogo"></i></a>
        <a href="views/contactenos.html"><i class="fab fa-instagram instagram footlogo"></i></a>
        <a href="views/contactenos.html"><i class="fab fa-twitter twitter footlogo"></i></a>
    </footer>
    </body>
</html>