<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title> Registra tu usuario </title> 
    </head>
    <body>
        <h1>Crea tu cuenta</h1>
        <form>
            <div>
                <p><label for="nombre">Nombre:</label></p>
                <p><input type="text" placeholder="Ingresa tu nombre" id="nombre" name="nombre"></p>
                <p><label for="apellido">Apellido:</label></p>
                <p><input type="text" placeholder="Ingresa tu apellido" id="apellido" name="apellido"></p>
                <p><label for="e-mail">e-mail:</label></p>
                <p><input type="email" placeholder="Ingresa tu e-mail" id="e-mail" name="e-mail"></p>
                <p><label for="telefono">Telefono:</label></p>
                <p><input type="text" placeholder="Ingresa tu numero de telefono" id="telefono" name="telefono"></p>
                <p><label for="direccion">Direccion:</label></p>
                <p><input type="text" placeholder="Ingresa tu direccion" id="direccion" name="direccion"></p>
                <p><label for="contraseña">Contraseña:</label></p>
                <p><input type="password" placeholder="Ingresa tu contraseña" id="contraseña" name="contraseña"></p>
                <p><label for="contraseña2">Repetir contraseña:</label></p>
                <p><input type="password" placeholder="Por favor repeti tu contraseña" id="contraseña2" name="contraseña2"></p>
                <p><button type="submit">Registrarme</button></p>
                </div>
            </form>
    </body>
</html>