<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title> Registra tu usuario </title> 
    </head>
    <body>
        <section>Crea tu cuenta</section>
        <form>
            <div>
                <!-- //Falta hacer con css que queden uno abajo del otro y no uno al lado del otro// -->
                <label>Nombre</label>
                <input type="text">
                <label>Apellido</label>
                <input type="text">
                <label>e-mail</label>
                <input type="text">
                <label>Telefono</label>
                <input type="text">
                <label>Direccion</label>
                <input type="text">
                <label>Contraseña</label>
                <input type="text">
                <label>Repetir contraseña</label>
                <input type="text">
                <button>Registrarme</button>
                </div>
            </form>
    </body>
</html>