*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

footer{
    background-color: orange;
    display: flex;
    justify-content: space-around;
    
}
.footMenu{
    font-size: 30px;
    color:white;
    padding-left:130px;
    margin-top: 120px;
    list-style-type: none;
}
.footMenub{
    font-size: 30px;
    color:white;
    margin-top: 120px;
    list-style-type: none;
}
.logo_img{
    width: 500px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footlogo{
    font-size: 40px;
    color: white;
    margin-top: 80px;
}