main {
    min-width: 320px;
    font-family: "Roboto", sans-serif;
}

.imágenes {
    height: 400px;
    padding: 0%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.img-lib-esc {
    display: flex;
    width: 37%;
    height: 50%;
    padding: 0%;
    border: solid 2px #ebebeb;
    margin: 5px;
    box-sizing: border-box;
    background-image: url("/images/librería-escolar.jpg");
    background-size: cover;
    justify-content: space-around;
    flex-direction: column;
}

.alin-texto{
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 0 0 #666, -2px 0 0 #666, 0 2px 0 #666, 0 -2px 0 #666, 1px 1px #666, -1px -1px 0 #666, 1px -1px 0 #666, -1px 1px 0 #666;
    color: #ffffff;
}

.img-lib-com {
    display: flex;
    width: 60%;
    height: 50%;
    padding: 0%;
    border: solid 2px #ebebeb;
    margin: 5px;
    box-sizing: border-box;
    background-size: cover;
    justify-content: space-around;
    flex-direction: column;
    background-image:url("/images/librería-comercial.jpg");
}

.img-art {
    display: flex;
    width: 47%;
    height: 48%;
    padding: 0%;
    border: solid 2px #ebebeb;
    margin: 5px;
    box-sizing: border-box;
    background-image: url("/images/artística.jpg");
    background-size: cover;
    justify-content: space-around;
    flex-direction: column;
}
    
.img-ins-comp {
    display: flex;
    width: 24%;
    height: 48%;
    padding: 0%;
    border: solid 2px #ebebeb;
    margin: 5px;
    box-sizing: border-box;
    background-size: cover;
    justify-content: space-around;
    flex-direction: column;
    background-image: url("/images/insumos-computación.jpg");
}

.img-pap {
    display: flex;
    width: 24%;
    height: 48%;
    padding: 0%;
    border: solid 2px #ebebeb;
    margin:5px;
    box-sizing: border-box;
    background-size: cover;
    justify-content: space-around;
    flex-direction: column;
    background-image: url("/images/papelera.jpg");
}
    
/*section1 es la que tiene el carrusel con las marcas o banners con imágenes*/
.contenedor-section1 {
    padding: 5%;
    border: solid 3px orange;
    margin: 10px 0px;
    background-color: burlywood;
}

/*section2 es la que tiene los 3 Cuadros con info al final del main*/
.contenedor-section2 {
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cuadro1 {
    width: 32%;
    padding: 15px 10px 10px 90px;
    border: solid 2px #666;
    margin: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.cuadro2 {
    width: 32%;
    padding: 10px 10px 10px 90px;
    border: solid 2px #666;
    margin: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.cuadro3 {
    width: 32%;
    padding: 15px 10px 10px 90px;
    border: solid 2px #666;
    margin: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.títulos-info-comercial {
font-size: 16px;
color: #666;
}

.datos-info-comercial {
    font-size: 12px;
    color: #666;
}