main {
    min-width: 320px;
    font-family: "Roboto", sans-serif;
}

/*section1 es la que tiene las imágenes con la familia de productos*/
.contenedor1-imagenes {
    height: 520px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.img-lib-esc {
    display: flex;
    width: 39.5%;
    height: 50%;
    border: solid 2px #ebebeb;
    margin: 5px 5px 0px 0px;
    box-sizing: border-box;
    background-image: url("/images/libreria-escolar.jpg");
    background-size: cover;
    justify-content: space-around;
    flex-direction: column;
}

.img-lib-com {
    display: flex;
    width: 60%;
    height: 50%;
    border: solid 2px #ebebeb;
    margin: 5px 0px;
    box-sizing: border-box;
    background-size: cover;
    justify-content: space-around;
    flex-direction: column;
    background-image:url("/images/libreria-comercial.jpg");
}

.img-art {
    display: flex;
    width: 47%;
    height: 48%;
    border: solid 2px #ebebeb;
    margin: 0px 5px 5px 0px;
    box-sizing: border-box;
    background-image: url("/images/artistica.jpg");
    background-size: cover;
    justify-content: space-around;
    flex-direction: column;
}
    
.img-ins-comp {
    display: flex;
    width: 26%;
    height: 48%;
    border: solid 2px #ebebeb;
    margin: 0px 5px 5px 0px;
    box-sizing: border-box;
    background-size: cover;
    justify-content: space-around;
    flex-direction: column;
    background-image: url("/images/insumos-computacion.jpg");
}

.img-pap {
    display: flex;
    width: 26%;
    height: 48%;
    border: solid 2px #ebebeb;
    margin:0px 0px 5px 0px;
    box-sizing: border-box;
    background-size: cover;
    justify-content: space-around;
    flex-direction: column;
    background-image: url("/images/papelera.jpg");
}

.alin-texto{
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 0 0 #666, -2px 0 0 #666, 0 2px 0 #666, 0 -2px 0 #666, 1px 1px #666, -1px -1px 0 #666, 1px -1px 0 #666, -1px 1px 0 #666;
    color: #ffffff;
}
    
/*section2 es la que tiene el carrusel con las marcas*/
.contenedor2-marcas {
    height: 150px;
    box-sizing: border-box;
    display: flex;
    background-color: #ebebeb;
    margin: 10px 0px;
    justify-content: space-around;   
}

.contenedor2-marcas img{
    height: 150px;
    width: 14vw;
}

.marcas {
    width: 15%;
}

/*.mont-blanc {
    width: 20%;
    margin-top: 15px;
    background-image: url("/images/mont-blanc.jpg");
    background-size: 120px 120px;
    background-repeat: no-repeat;
}

.eterna {
    width: 20%;
    margin-top: 15px;
    background-image: url("/images/eterna.png");
    background-size: 120px 120px;
    background-repeat: no-repeat;
}

.hp {
    width: 20%;
    margin-top: 15px;
    background-image: url("/images/hp.png");
    background-size: 120px 120px;
    background-repeat: no-repeat;
}

.pelikan {
    width: 20%;
    margin-top: 30px;
    background-image: url("/images/pelikan.png");
    background-size: 190px 90px;
    background-repeat: no-repeat;
}

.parker {
    width: 20%;
    margin-top: 15px;
    background-image: url("/images/parker.png");
    background-size: 120px 120px;
    background-repeat: no-repeat;
}

.exito {
    width: 20%;
    margin-top: 28px;
    background-image: url("/images/exito.jpg");
    background-size: 120px 100px;
    background-repeat: no-repeat;
}

.faber-castell {
    width: 20%;
    margin-top: 35px;
    background-image: url("/images/faber-castell.jpg");
    background-size: 190px 80px;
    background-repeat: no-repeat;
}+/

/*section3 es la que tiene los 3 Cuadros con info al final del main*/
.contenedor3-cuadros {
    margin: 2.5px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cuadro1 {
    width: 32%;
    padding: 30px 10px 30px 90px;
    border: solid 2px #666;
    margin: 2.5px 0px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.cuadro2 {
    width: 32%;
    padding: 25px 10px 30px 90px;
    border: solid 2px #666;
    margin: 2.5px 0px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.cuadro3 {
    width: 32%;
    padding: 30px 10px 30px 90px;
    border: solid 2px #666;
    margin: 2.5px 0px;
    box-sizing: border-box;
    background-color: #ffffff;
}

/*es el texto que está dentro de los cuadros*/
.titulos-info-comercial {
font-size: 16px;
color: #666;
}

.datos-info-comercial {
    font-size: 12px;
    color: #666;
}