main {
    min-width: 320px;
    font-family: "Roboto", sans-serif;
}

.imagenes {
    height: 400px;
    padding: 0%;
    border: solid 2px green;
    margin: 10px 0px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.img-lib-esc {
    display: flex;
    width: 15%;
    height: 15%;
    padding: 0%;
    border: solid 2px #ebebeb;
    margin: 10px;
    box-sizing: border-box;
    flex-grow: 0.30;
}

#section1 {
    flex-grow: 1;
}

.img-lib-com {
    width: 40px;
    height: 40px;
    padding: 0%;
    border: solid 2px #ebebeb;
    margin: 10px;
    box-sizing: border-box;
    background-image:url("/images/libreria-comercial.jpg");
}

.img-art {
    width: 40px;
    height: 40px;
    padding: 00%;
    border: solid 2px #ebebeb;
    margin: 10px;
    box-sizing: border-box;
    background-image: url("/images/artistica.jpg");
}
    
.img-ins-comp {
    width: 40px;
    height: 40px;
    padding: 0%;
    border: solid 2px #ebebeb;
    margin: 10px;
    box-sizing: border-box;
    background-image: url("/images/insumos-computacion.jpg");
    }

.img-pap {
    width: 40px;
    height: 40px;
    padding: 0%;
    border: solid 2px #ebebeb;
    margin: 10px;
    box-sizing: border-box;
    background-image: url("images/papelera.jpg");
}
    
/*section1 es la que tiene el carrusel con las marcas o banners con imágenes*/
.contenedor-section1 {
    padding: 5%;
    border: solid 3px orange;
    margin: 10px 0px;
    background-color: burlywood;
}

/*section2 es la que tiene los 3 Cuadros con info al final del main*/
.contenedor-section2 {
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cuadro1 {
    width: 32%;
    padding: 15px 10px 10px 90px;
    border: solid 2px #666;
    margin: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.cuadro2 {
    width: 32%;
    padding: 10px 10px 10px 90px;
    border: solid 2px #666;
    margin: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.cuadro3 {
    width: 32%;
    padding: 15px 10px 10px 90px;
    border: solid 2px #666;
    margin: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.titulos-info-comercial {
font-size: 16px;
color: #666;
}

.datos-info-comercial {
    font-size: 12px;
    color: #666;
}