
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 0;
}

ul, li {
    list-style: none inside;
}

/*****************CAROUSEL***********************/

ul.slider {
    position:relative; /*Necesitamos que el ul sea relativo*/
    height: 400px;
    width: 100%;
}
ul.slider li {
    left: 0px;
    opacity: 0; /*Ocultamos todos los <li>*/
    position: absolute;
    /* transition: opacity 0.4s; */
    top: 0px;
}

ul.slider img {
    height: 400px;
    width: 400px;
}

/* View first thumbnails */
ul.slider li:first-child {
    opacity: 1;
}

/*Mostramos el <li> al que apunta el enlace*/
ul.slider li:target {
    opacity: 1;
}

nav.minicarousel {
    width: 400px;
}

ul.thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

ul.thumbnails img {
    height: 100px;
    width: 100%;
}
/*****************CAROUSEL***********************/


/*****************PANEL DE INFORMACION Y COMPRA***********************/
.sellboxa {
    display: flex;
    flex-direction: column;
}

.product-title {
    padding: 10px 0;
}

.product-price {
    color: #3483fa;
    font-size: 24px;
    font-weight: 600;
    padding: 15px 0;
}

div.quantity {
    display: inline-flex;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    margin: 5px 0;
    padding: 10px;
    width: 70px;
}

button.quantity-button {
    background-color: transparent;
    border: none;
    color: #3483fa;
    cursor: pointer;
    font-size: 24px;
    line-height: 1;
    text-align: center;
}

input.input-quantity {
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
    width: 30px;
}

.cart a {
    margin-left: 15px;
}

/*****************PANEL DE INFORMACION Y COMPRA***********************/

/***************** TABLET ***********************/
@media (min-width:768px){
    main {
        flex-wrap: nowrap;
    }
}