
/*border: solid red 1px;*/


.mainbox{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: "Roboto", sans-serif;
    background-color: white;
    margin-top: 7%;
    margin-bottom: 7%;
}



ul, li {
    padding: 0;
    margin: 0;
    list-style: none inside;
}
ul.slider {
    position:relative; /*Necesitamos que el ul sea relativo*/

}
ul.slider li {
    opacity: 0; /*Ocultamos todos los <li>*/
    transition: opacity 0s;
    position: absolute; /*Posicionamos en absoluto los <li>*/
    left: 0px;
    top: 0px;
    border:2px solid red;
    background:#fff;
    
}
ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}
ul.slider li:target {
    opacity: 1; /*Mostramos el <li> al que apunta el enlace*/
}



ul.slider {
    padding: 9.5vh;
}
.sellingbox{
    border: solid blue 1px;
    display: flex;
    flex-direction: row;
    height: 30vh;
    width: 55vw;
    box-sizing: border-box;
}

.sellbox{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
    border: solid orange 1px;
}

.producto{
    margin: 2%;
}

.precio{
    margin: 2%;
}

.mediodepago{
    margin: 2%;
}

.mediodepagodesplegable{
    margin-right: 2%;
    margin-left: 2%;
}

.cuotas{
    margin: 2%;
}

.cuotasdesplegable{
    margin-right: 2%;
    margin-left: 2%;
}



.subsellbox{
    display: flex;
    flex-direction: row;
}

.quantity{
    margin: 4%;
}

.comprar{
    margin: 4%;
}

.sellboxb{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
    border: solid black 1px;
}

.Especificaciones{
    border: solid red 1px;
    padding: 10%;
    margin: 10%;
    height: 20%;
    box-sizing: border-box;
}

.descripcion{
    border: solid red 1px;
    padding: 1%;
    margin: 1%;
    height: 50%;
    box-sizing: border-box;
}

.minicar {
    position:relative;
    display: flex;
    top: 27%;
    border: solid red 1px;
}

.minicar ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.minicar ul li {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}
ul.menu img{
    height: 7vh;
    width: 5vw;
}


