:root {
    --button-color: #ebebeb;
    --button-bg-color: #00008f;
    --menu-color: #000;
    --menu-bg-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    min-width: 320px;
}

main {
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;
}

.btn {
    background-color: var(--button-bg-color);
    border-radius: 8px;
    color: var(--button-color);
    display: inline-block;
    font-weight: 600;
    padding: 10px 10px;
    text-align: center;
    text-transform: uppercase;
}

.w100 {
    width: 100%;
}

.fade-in {
    opacity: 0.6;
    transition: opacity 500ms;
}

.fade-in:hover {
    opacity: 1;
}

.fade-out {
    opacity: 1;
    transition: opacity 500ms;
}

.fade-out:hover {
    opacity: 0.6;
}

.hidden {
    display: none;
}

/********* HEADER begin **********/
.header-container {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 9999;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
}

.top-header {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px 25px;
}

.top-header .logo img {
    height: 50px;
}

.top-header .search-container {
    flex-grow: 0.9;
    display: none;
}

.top-header form {
    position: relative;
}

.top-header .search-input {
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 15px 35px 15px 15px;
    width: 100%;
}

div.search-container button.submit {
    background-color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 14px;
}

.top-header .utilities {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.top-header .utilities > div {
    padding: 0 15px;
}

.top-header .utilities .util-desc {
    display: none;
}

.top-header i {
    font-size: 24px;
    display: block;
    padding-bottom: 5px;
}

div.menu-icon a {
    color: black;
}

div.menu-icon ul {
    list-style-type: none;
}

ul.account-submenu {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    display: none;
    list-style-type: none;
    padding: 10px;
    position: absolute;
}

ul.account-submenu li {
    padding: 10px 0px;
}

div.account-container:hover ul.account-submenu {
    display: block;
}

nav.navbar {
    border-top: 2px solid rgba(0, 0, 0, 0.15);
    display: none;
}

nav.navbar li {
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 10%;
}

header a {
    color: var(--menu-color);
}

/********** HEADER end ******/


/********** FOOTER begin ******/
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.8;
    padding: 40px;
}

.footer-item {
    padding: 10px 0px;
}

.footer-item > h4 {
    padding-bottom: 5px;
}

.footer-item.col-around {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-list {
    font-size: 17px;
    list-style-type: none;
}

.logo_img{
    height: 90px;
    padding-bottom: 10px;
}

.social-icons {
    display: flex;
    font-size: 28px;
    justify-content: space-evenly;
    width: 100%;
}

.social-icons .fa-facebook {
    color: #3b5998;
}

.social-icons .fa-instagram {
    color: #e65df3;
}

.social-icons .fa-twitter {
    color: #00acee;
}

footer #footer-nav {
    display: none;
}

/********** FOOTER end   ******/


@media (min-width: 768px) {
    /******* HEADER begin *******/
    div.menu-icon {
        display: none;
    }

    .top-header div.logo img {
        height: 90px;
    }

    .top-header div.search-container {
        display: block;
    }

    .top-header .utilities .util-desc {
        display: block;
    }

    nav.navbar {
        display: block;
    }
    /******* HEADER begin *******/

    /******* FOOTER begin *******/
    footer {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    footer .social-icons {
        justify-content: space-between;
    }

    footer #footer-nav {
        display: block;
    }
    /******* FOOTER end   *******/
}