<!DOCTYPE html>
<html lang="es">
<%- include('partials/head', {
    'title': "Lo que te pinte",
    'css': ["/css/cart.css"],
}) %>
<body>
<%- include('partials/header') %> 
    <main>
        <div class="cart-container">
            <form class="cart-form" method="post">
                <table class="cart" aria-label="Carrito">
                    <thead>
                        <tr>
                            <th id="remove"></th>
                            <th id="thumbnail"></th>
                            <th id="name" class="product-name">Producto</th>
                            <th id="price" class="product-price">Precio</th>
                            <th id="quantity" class="product-quantity">Cantidad</th>
                            <th id="Subtotal" class="product-subtotal">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cart-item">
                            <td class="product-remove">
                                <a href="#remove"
                                    class="remove" aria-label="Borrar este artículo"
                                    data-product_id="8761"><i class="far fa-trash-alt fade-in" aria-hidden="true"></i></a>
                            </td>
                            <td class="product-thumbnail">
                                <a href="#"><img
                                        src="images/lapiz-12.jpg"
                                        class="cart-product-thumbnail" alt=""></a>
                            </td>
                            <td class="product-name">
                                <a class="fade-out" href="#">LAPICES MEGA GIOTTO X 12</a>
                            </td>
                            <td class="product-price redraw-title" data-title="Precio">
                                $<span class="price">867.00</span>
                            </td>
                            <td class="product-quantity redraw-title" data-title="Cantidad">
                                <div class="quantity">
                                    <button type="submit" value="-" class="quantity-button" name="pop">-</button>
                                    <input type="tel" name="quantity" id="quantity" class="input-quantity" value="1" pattern="[0-9]{0,4}" inputmode="numeric" autocomplete="off">
                                    <button type="submit" value="+" class="quantity-button" name="push">+</button>
                                </div>
                            </td>
                            <td class="product-subtotal redraw-title" data-title="Subtotal">
                                $<span class="amount">867.00</span>
                            </td>
                        </tr>
                        <tr class="cart-item">
                            <td class="product-remove">
                                <a href="#remove"
                                    class="remove" aria-label="Borrar este artículo"
                                    data-product_id="8761"><i class="far fa-trash-alt fade-in" aria-hidden="true"></i></a>
                            </td>
                            <td class="product-thumbnail">
                                <a href="#"><img
                                        src="images/lapiz-12.jpg"
                                        class="cart-product-thumbnail" alt=""></a>
                            </td>
                            <td class="product-name">
                                <a class="fade-out" href="#">LAPICES MEGA GIOTTO X 12</a>
                            </td>
                            <td class="product-price redraw-title" data-title="Precio">
                                $<span class="price">867.00</span>
                            </td>
                            <td class="product-quantity redraw-title" data-title="Cantidad">
                                <div class="quantity">
                                    <button type="submit" value="-" class="quantity-button" name="pop">-</button>
                                    <input type="tel" name="quantity" id="quantity" class="input-quantity" value="1" pattern="[0-9]{0,4}" inputmode="numeric" autocomplete="off">
                                    <button type="submit" value="+" class="quantity-button" name="push">+</button>
                                </div>
                            </td>
                            <td class="product-subtotal redraw-title" data-title="Subtotal">
                                $<span class="amount">867.00</span>
                            </td>
                        </tr>
                        <tr class="cart-item">
                            <td class="product-remove">
                                <a href="#remove"
                                    class="remove" aria-label="Borrar este artículo"
                                    data-product_id="8761"><i class="far fa-trash-alt fade-in" aria-hidden="true"></i></a>
                            </td>
                            <td class="product-thumbnail">
                                <a href="#"><img
                                        src="images/lapiz-12.jpg"
                                        class="cart-product-thumbnail" alt=""></a>
                            </td>
                            <td class="product-name">
                                <a class="fade-out" href="#">LAPICES MEGA GIOTTO X 12</a>
                            </td>
                            <td class="product-price redraw-title" data-title="Precio">
                                $<span class="price">867.00</span>
                            </td>
                            <td class="product-quantity redraw-title" data-title="Cantidad">
                                <div class="quantity">
                                    <button type="submit" value="-" class="quantity-button" name="pop">-</button>
                                    <input type="tel" name="quantity" id="quantity" class="input-quantity" value="1" pattern="[0-9]{0,4}" inputmode="numeric" autocomplete="off">
                                    <button type="submit" value="+" class="quantity-button" name="push">+</button>
                                </div>
                            </td>
                            <td class="product-subtotal redraw-title" data-title="Subtotal">
                                $<span class="amount">867.00</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="cart-actions">
                    <div class="coupon-action">
                        <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Código de cupón">
                        <button type="submit" class="btn" name="apply_coupon" value="Aplicar cupón">Aplicar cupón</button>
                    </div>
                    <button type="submit" class="btn" name="update_cart" value="Actualizar carrito" aria-disabled="false">Actualizar carrito</button>
                </div>
            </form>
            <div class="cart-totals-container">
                <div class="cart-totals">
                    <h2>Total del carrito</h2>
                    <table class="totals-table">
                        <tbody>
                            <tr class="cart-subtotal">
                                <th id="subtotal">Subtotal</th>
                                <td data-title="Subtotal">
                                    $<span class="price">999.00</span>
                                </td>
                            </tr>
                            <tr class="cart-discount">
                                <th id="discount">Descuento</th>
                                <td data-title="Descuento">
                                    $<span class="discount">0.00</span>
                                </td>
                            </tr>
                            <tr class="cart-total">
                                <th id="total">Total</th>
                                <td data-title="Total">
                                    $<span class="total">999.00</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="to-checkout">
                        <a href="/checkout" class="btn w100">Finalizar compra</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>