<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Lo que te pinte</title>

    <!-- Este es el Link para que integre el Header y el Footer -->
    <link rel = "stylesheet" href = "css/style.css">
    <!-- Este es el Link para que integre la Hoja de Estilo correspondiente -->
    <link rel="stylesheet" href="css/index-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Estos son los Links para que importe la Fuente Roboto de Google Fonts-->
    <link rel = "preconnect" href = "https://fonts.googleapis.com">
<link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
<link href = "https: //fonts.googleapis.com/css2? family = Roboto & display = swap "rel =" stylesheet ">
</head>

<body>
${require('./_header.html')}

    <main>      
       <section class="imágenes">
           <div class=img-lib-esc><a class="alin-texto" href="#">Librería Escolar</a></div>
           <div class=img-lib-com><a class="alin-texto" href="#">Librería Comercial</a></div>
           <div class=img-art><a class="alin-texto" href="#">Artística</a></div>
           <div class=img-ins-comp><a class="alin-texto" href="#">Insumos Computación</a></div>
           <div class=img-pap><a class="alin-texto" href="#">Papelera</a></div>   
       </section>     
       <section class="imagenes">
           <div class=img-lib-esc><img id="section1" src = "./images/libreria-escolar.jpg"><a href="#">Librería Escolar</a></div>
           <div class=img-lib-com><a href="#">Librería Comercial</a></div>
           <div class=img-art><a href="#">Artística</a></div>
           <div class=img-ins-comp><a href="#">Insumos Computación</a></div>
           <div class=img-pap><a href="#">Papelera</a></div>
       </section>

       <section class="contenedor-section1">
           <p class="carrusel">Acá va el carrusel con las marcas o banners con imágenes.</p>
       </section>

       <section class="contenedor-section2"> 
            <div class="cuadro1">
               <h3 class="titulos-info-comercial">QUEDATE EN CASA</h3>
               <P class="datos-info-comercial">Entregamos a domicilio y hacemos envíos a todo el país.</P>
            </div>
            <div class="cuadro2">
                <h3 class="titulos-info-comercial">PAGÁ COMO QUIERAS</h3>
                <P class="datos-info-comercial">Aceptamos todos los medios de pago. Podés pagar en Efectivo, con Transferencia Bancaria, con Tarjeta de Débito y Crédito, y con Link de Pago.</P>
            </div>
            <div class="cuadro3">
                <h3 class="titulos-info-comercial">COMPRÁ SEGURO</h3>
                <P class="datos-info-comercial">Garantizamos la seguridad en todas tus compras. Tus datos estarán siempre protegidos.</P>
            </div>
       </section>
    </main>

${require('./_footer.html')}
</body>
</html>