<!DOCTYPE html>
<html lang="es">
<%- include('partials/head', {
    'title': "Lo que te pinte",
    'css': ["/css/index-style.css"],
}) %>
<body>
<%- include('partials/header') %>

    <main>
        <section class="contenedor1-imagenes">
            <div class="link-wrapper col-6">
                <a id="lib-escolar" class="img-link" href="/products/category/4">
                    <h3>Librería Escolar</h3>
                </a>
            </div>
            <div class="link-wrapper col-6">
                <a id="lib-comercial" class="img-link" href="/products/category/3">
                    <h3>Librería Comercial</h3>
                </a>
            </div>
            <div class="link-wrapper col-4">
                <a id="artistica" class="img-link" href="/products/category/1">
                    <h3>Artística</h3>
                </a>
            </div>
            <div class="link-wrapper col-4">
                <a id="ins-comp" class="img-link" href="/products/category/2">
                    <h3>Insumos Computación</h3>
                </a>
            </div>
            <div class="link-wrapper col-4">
                <a id="papelera" class="img-link" href="/products/category/5">
                    <h3>Papelera</h3>
                </a>
            </div>
        </section>

        <section class="contenedor2-marcas">
            <img src = "/images/pelikan.png">
            <img src = "/images/eterna.png">
            <img src = "/images/faber-castell.jpg">
            <img src = "/images/hp.png">
            <img src = "/images/exito.jpg">
            <img src = "/images/mont-blanc.jpg">
            <img src = "/images/parker.png">
            <img src = "/images/autor.png">
            <img src = "/images/elmers.png">
            <img src = "/images/bic.jpg">
        </section>

        <section class="contenedor3-cuadros">
            <div class="cuadro">
                <h3 class="titulos-info-comercial">QUEDATE EN CASA</h3>
                <p class="datos-info-comercial">Entregamos a domicilio y hacemos envíos a todo el país.</p>
            </div>
            <div class="cuadro">
                <h3 class="titulos-info-comercial">PAGÁ COMO QUIERAS</h3>
                <p class="datos-info-comercial">Aceptamos todos los medios de pago. Podés pagar en Efectivo, con Transferencia Bancaria, con Tarjeta de Débito y Crédito, y con Link de Pago.</p>
            </div>
            <div class="cuadro">
                <h3 class="titulos-info-comercial">COMPRÁ SEGURO</h3>
                <p class="datos-info-comercial">Garantizamos la seguridad en todas tus compras. Tus datos estarán siempre protegidos.</p>
            </div>
        </section>
    </main>

<%- include('partials/footer') %>
</body>
</html>