<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lo que te pinte</title>

    <link rel = "preconnect" href = "https://fonts.googleapis.com">
<link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
<link href = "https: //fonts.googleapis.com/css2? family = Roboto & display = swap "rel =" stylesheet ">

<link rel = "stylesheet" href = "css/style.css>">

<!-- acá va el css de mi página-->
</head>

<body>
${require('./_header.html')}

    <main>
       <section>
           <img src = "./images/librería-comercial.jpg">
           <img src = "./images/artística.jpg">
           <img src = "./images/insumos-computación.jpg">
           <img src = "./images/papelera.jpg">

           <ul>
               <li><a href="#">Librería Escolar</a></li>
               <li><a href="#">Librería Comercial</a></li>               
               <li><a href="#">Artística</a></li>
               <li><a href="#">Insumos Computación</a></li>
               <li><a href="#">Papelera</a></li>
           </ul>
       </section> 
       <section>
    <!-- Aca va el carrusel con las imágenes rectangulares -->
       </section>
       <section>
           <h3>ENTREGAMOS A DOMICILIO</h3>
           <P>Hacemos envíos a todo el país</P>
           <h3>ACEPTAMOS TODOS LOS MEDIOS DE PAGO</h3>
           <P>Podés pagar en Efectivo, con Transferencia Bancaria, con Tarjeta de Débito y Crédito, y con Link de Pago</P>
           <h3>GARANTIZAMOS LA SEGURIDAD EN TU COMPRA</h3>
           <P>Tus datos estarán siempre protegidos</P>
       </section>
    </main>

${require('./footer.html')}
</body>

</html>