<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/productostyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>LoQueTePinte</title>
</head>
<body>
    ${require('./_header.html')}
<main>    
<div class=mainbox>
    <div class= "carousel">
     <ul class="slider">
        <li id="slide1"><img src="images/campera.jpg" alt="campera" class="product_img"></li>
        <li id="slide2"><img src="images/campera2.jpg" alt="campera" class="product_img"></li>
        <li id="slide3"><img src="images/campera3.jpg" alt="campera" class="product_img"></li>
     </ul>
     <nav class= "minicar">
        <ul class="menu">
            <li><a href="#slide1"><img src="images/campera.jpg" alt="campera" class="product_img_carousel"></a></li>
            <li><a href="#slide2"><img src="images/campera2.jpg" alt="campera" class="product_img_carousel"></a></li>
            <li><a href="#slide3"><img src="images/campera3.jpg" alt="campera" class="product_img_carousel"></a></li>
        </ul>
     </nav>
    </div>
 <section class="sellingbox">
    <div class= "sellbox">
     <p>Producto</p>

     <p>Precio</p>
    
     <p>Medio de pago</p>
     <select name="Medios de pago">
         <option value="1">Tarjeta de credito</option> 
         <option value="2">Tarjeta de debito</option>
         <option value="3">Otras formas de pago</option> 
     </select>

     <p>Cuotas</p>       <!-- es un desplegable -->
     <select name= cuotas>
         <option value="1">3 cuotas sin interes</option> 
         <option value="2">6 cuotas sin interes</option>
         <option value="3">12 cuotas</option>
     </select>
     <td class="product-quantity redraw-title" data-title="Cantidad">
        <div class= "subsellbox">
         <div class="quantity">
             <button type="submit" value="-" class="quantity-button" name="pop">-</button>
             <input type="tel" name="quantity" id="quantity" class="input-quantity" value="1" pattern="[0-9]{0,4}" inputmode="numeric" autocomplete="off">
             <button type="submit" value="+" class="quantity-button" name="push">+</button>
         </div>
        
         <button type="button"><a href="views/carrito.html">Agregar al carrito</a></button> 
        </div>
     </td> 
    </div>
    <div class= "sellboxb">
     <div class= "Especificaciones">
        <p>Prenda de vestir que cubre la parte superior del cuerpo, se cierra por delante y se usa encima de otras prendas más livianas como abrigo; puede ser corta y amplia y ajustarse a la cadera con un elástico o cordón, o larga hasta las caderas.</p>
     </div>
     <div class= "descripcion">
        <p>la mejor campera del mundo yo les digo ,la mejor campera del mundo yo les digo ,la mejor campera del mundo yo les digo ,la mejor campera del mundo yo les digo ,la mejor campera del mundo yo les digo , </p>
     </div>

    </div>
 </section>
</div>
</main>  
${require('./_footer.html')}
</body>

</html>