    <header class="header-container">
        <div class="top-header">
            <div class="menu-icon">
                <ul>
                    <li>
                        <a href="#"><i class="fas fa-bars" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="logo">
                <a href="/">
                    <img src="../images/logo.png" alt="Logo">
                </a>
            </div>
            <div class="search-container">
                <form action="#" role="search" method="get">
                    <input type="search" class="search-input" name="search" spellcheck="false" placeholder="Buscar...">
                    <a href="/products">
                    <button type="submit" class="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
                </a>
                </form>
            </div>
            <div class="utilities">
                <% if (locals.userLogged) { %>
                <div class="account-container">
                    <a href="/users/profile">
                        <i class="fas fa-user-circle" aria-hidden="true"></i>
                        <span class="util-desc">Mi cuenta</span>
                    </a>
                    <ul class="account-submenu">
                        <li><a href="/users/logout">Cerrar sesion</a></li>
                        </ul>
                </div>
                <div class="cart-container">
                    <a href="/cart">
                        <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                        <span class="util-desc">Mi carrito</span>
                    </a>
                </div>
            <% } else { %>
                <div class="login-container">
                    <a href="/users/login">
                        <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
                        <span class="util-desc">Ingresar</span>
                    </a>
                </div>
                <div class="register-container">
                    <a href="/users/register">
                        <i class="fas fa-registered" aria-hidden="true"></i>
                        <span class="util-desc">Registrarme</span>
                    </a>
                </div>
                <% } %>
            </div>
        </div>
        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="/">Inicio</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="nosotros">Nosotros</a></li>
                <li><a href="contacto">Contacto</a></li>
                <li><a href="blog">Blog</a></li>
            </ul>
        </nav>
    </header>