<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head', {
        'title': "Inicia sesion",
        'css': ["/css/loginstyles.css"],
    }) %>   
    <body>
        <%- include('../partials/header') %>
        <main>
        <h1>Iniciar sesion</h1>
        <form action="/users/login" method="POST">
            <div id="formulary">
                <section id="email">
                    <div class="label"><label for="email">Correo electronico:</label></div>
                    <div class="input"><input type="email" placeholder="Ingresa tu e-mail" id="email" name="email" required></div>
                    </section>
                <section id="passwordsec">
                    <p class="label"><label for="password">Contraseña:</label></p>
                    <p class="input"><input type="password" placeholder="Ingresa tu contraseña" id="password" name="password" required></p>
                    </section>
                <section id="log-in">     
                    <p class="login-button"><button type="submit">Iniciar sesion</button></p>
                    </section>
                <section id="stay">
                    <p><input type="checkbox">Mantenerme conectado</p>
                    </section>
                <section id="forgot">
                    <p><a href="#">Olvide mi contraseña</a></p>
                    </section>
                </div>
            </form>
            </main>
            <%- include('../partials/footer') %>
    </body>
</html>