<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head', {
        'title': "Registra tu usuario",
        'css': ["/css/registerstyles.css"]
    }) %>
    <body>
        <%- include('../partials/header') %>
        <main>
        <h1>Crea tu cuenta</h1>
        <form method="POST" action="/users/register" enctype="multipart/form-data">
            <div id="formulary">
                <section class="camp">
                    <p class="label"><label for="name">Nombre:</label></p>
                    <p class="input"><input type="text" placeholder="Ingresa tu nombre" id="name" name="name"></p>
                </section>
                <section class="camp">
                    <p class="label"><label for="surname">Apellido:</label></p>
                    <p class="input"><input type="text" placeholder="Ingresa tu apellido" id="surname" name="surname"></p>
                </section>
                <section class="camp">
                    <p class="label"><label for="email">Correo electronico:</label></p>
                    <p class="input"><input type="email" placeholder="Ingresa tu e-mail" id="email" name="email"></p>
                </section>
                <section class="camp">
                    <p class="label"><label for="password">Contrase単a:</label></p>
                    <p class="input"><input type="password" placeholder="Ingresa tu contrase単a" id="password" name="password"></p>
                </section>
                <section class="camp">
                    <p class="label"><label for="phonenumber">Telefono:</label></p>
                    <p class="input"><input type="text" placeholder="Ingresa tu numero de telefono" id="phonenumber" name="phonenumber"></p>
                </section>
                <section class="camp">
                    <p class="label"><label for="password2">Repetir contrase単a:</label></p>
                    <p class="input"><input type="password" placeholder="Por favor repeti tu contrase単a" id="password2" name="password2"></p>
                </section>
                <section class="camp">
                    <p class="label"><label for="adress">Direccion:</label></p>
                    <p class="input"><input type="text" placeholder="Ingresa tu direccion" id="adress" name="adress"></p>
                </section>
                <section class="camp" id="regbutton">
                    <p id="button"><button type="submit">Registrarme</button></p>
                </section>
                </div>
            </form>
            </main> 
            <%- include('../partials/footer') %>
    </body>
</html>